<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Users</title>
  <style>
    table {
       border: 1px solid black;
       border-collapse: collapse;
       width: 100%;
       font-size: 20px;
       padding: 5px;
    }
    
    th, td {
    
     border: 1px solid black;
    }
    
    th {
        background-color: #0077A8;
        color: white;
    
    }
    
    td {
    padding-left: 5px;
    
    }
  
  
  </style>


</head>
<body>

   <table>
       <tr>
         <th>Name</th>
         <th>phoneNumber</th>
         <th>role</th>
         <th>email</th>
         <th>username</th>
         <th>password</th>
       
       </tr>
        <tr  th:each="users : ${user}">
           <td  th:text="${users.name}"></td>
           <td  th:text="${users.phoneNumber}"></td>
           <td  th:text="${users.role}"></td>
           <td  th:text="${users.email}"></td>
           <td  th:text="${users.username}"></td>
           <td  th:text="${users.password}"></td>
        </tr>
   
   </table>

</body>
</html>